*{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}
.cap-content button:hover{
    border: 1px solid #00bfa5;
    background-color: white;
    color: #00856F;
}
body{
    background-color: #202329;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
#navbar{
    width: 5vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #202329;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.555);
}
#navbar img{
    width: 3vw;
    height: auto;
}
#navbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#navbar ul li{
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#navbar ul li a{
    display: none;
}
.material-symbols-outlined{
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-weight: 400;
}
#navbar ul li:last-child .material-symbols-outlined{
    color: rgb(236, 5, 5);
}
.material-symbols-outlined:hover{
    color: #00bfa5;
}
.history{
    width: 20vw;
    height: 96vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-left: 6vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.555);
}
.history form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}
.history form input{
    width: 15vw;
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 1vw;
    border-left: none;
}
.history form input:focus{
    outline: none;
    border: 1px solid #00bfa5;
}
.history .material-symbols-outlined{
    height: 5vh;
    width: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.history-content{
    width: 18vw;
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.history-item{
    width: 17vw;
    height: 15vh;
    padding-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-radius: 1vw;
    margin-top: 2vh;
    background-color: #2E333D;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.history-item h2{
    font-size: 2vh;
    font-weight: 400;
    margin-bottom: 1vh;
    color: #00856F;
}
.history-item p{
    font-size: 1.6vh;
    font-weight: 300;
    margin-bottom: 1vh;
    color: #ffffff;
}


#data-capture{
    margin-left: 2vw;
    width: 25vw;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    flex-direction: column;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.555);
    border-radius: 1vw;
}
.cap-content{
    padding-top: 2vw;
    width: 20vw;
    height: 18vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.26);
    border-radius: 1vw;
}
.cap-content .text{
    width: 17vw;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1vh;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}
.cap-content h1{
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 1vh;
    color: white;
}
.cap-content h2{
    font-size: 1.2vh;
    font-weight: 400;
    margin-bottom: 1vh;
    color: white;
}
.cap-content button{
    width: 12vw;
    height: 8vh;
    background-color: #00bfa5;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: -1.5vh;
    border-radius: 1vh;
    margin-top: -4vh;
}
.text .material-symbols-outlined{
    font-size: 4vw;
}
textarea{
    margin-top: 2vh;
    width: 17vw;
    height: 20vh;
    padding-left: 3px;
    padding-top: 3px;
}
textarea:focus{
    border: 1px solid #00bfa5;
    outline: none;
}
.submitButton{
    margin-top: 2vh;
    width: 19vw;
    height: 6vh;
    border: 1px solid white;
    background-color: #00bfa5;
    color: white;
    border-radius: 1vh;
}
.submitButton:hover{
    border: 1px solid #00bfa5;
    background-color: white;
    color: #00bfa5;
}
.data-out{
    width: 32vw;
    height: 80vh;
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data{
    padding-top: 2vh;
    padding-left: 2vw;
    border-radius: 1vw;
    width: 32vw;
    height: 94vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.555);
    row-gap: 1vh;
}
.col{
    width: 28vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1vh;
    background-color: rgba(46, 51, 61, 0.295);
}
.data img{
    width: 10vw;
    height: 10vw;
    margin-top: 2vh;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}
